<html>
  <head>
    <title>Concerts</title>
    <script language="JavaScript">
      function showform(dowhat) {
        /*
         * four DIVS: browse, insert, update, delete
         * this function sets one visible the others not
         */
        if (dowhat == "insert") {
          document.getElementById("browse").style.display = "none";
          document.getElementById("insert").style.display = "block";
          document.getElementById("update").style.display = "none";
          document.getElementById("delete").style.display = "none";
        } else if (dowhat == "update") {
          document.getElementById("browse").style.display = "none";
          document.getElementById("insert").style.display = "none";
          document.getElementById("update").style.display = "block";
          document.getElementById("delete").style.display = "none";
        } else if (dowhat == "delete") {
          document.getElementById("browse").style.display = "none";
          document.getElementById("insert").style.display = "none";
          document.getElementById("update").style.display = "none";
          document.getElementById("delete").style.display = "block";
        } else if (dowhat == "all") {
          document.getElementById("browse").style.display = "block";
          document.getElementById("insert").style.display = "block";
          document.getElementById("update").style.display = "block";
          document.getElementById("delete").style.display = "block";
        } else {
          //by default display browse
          document.getElementById("browse").style.display = "block";
          document.getElementById("insert").style.display = "none";
          document.getElementById("update").style.display = "none";
          document.getElementById("delete").style.display = "none";
        }
      }
      function newConcert() {
        showform("insert");
      }
      function updateConcert(pid) {
        showform("update");
      }
      function deleteConcert(pid) {
        showform("delete");
      }
      function browseConcerts() {
        showform("browse");
      }
      function showAll() {
        showform("all");
      }
    </script>
  </head>

  <body onload="browseConcerts()">

    <div>
      <a href="/venues">Venues </a> | 
      <a href="/artists">Artists </a> | 
      <a href="/customers">Customers</a> | 
      <a href="/concerts">Concerts</a> | 
      <a href="/ticketsales">TicketSales</a> | 
      <a href="/concerts_ticketsales">Concerts_TicketSales</a>
    </div>

    <h1>Concerts</h1>
    <div id="browse">
      <p><a href="#" onclick="showAll()">Display all forms</a></p>
      <table border="1" cellpadding="5">
        <tr>
          <th><a href="#" onclick="newConcert()">New</a></th>
          <th></th>
          <th>concert_id</th>
          <th>date</th>
          <th>time</th>
          <th>venue id</th>
          <th>artist</th>
        </tr>
        <tr>
          <td>
            <a href="#" onclick="updateConcert('this.concertID')">Edit</a>
          </td>
          <td>
            <a href="#" onclick="deleteConcert('this.concertID')">Delete</a>
          </td>
          <td align="right">1</td>
          <td>12/20/23</td>
          <td align="left">6:00pm</td>
          <td>1</td>
          <td>Invisible Band</td>
        </tr>
        <tr>
          <td>
            <a href="#" onclick="updateConcert('this.concertID')">Edit</a>
          </td>
          <td>
            <a href="#" onclick="deleteConcert('this.concertID')">Delete</a>
          </td>
          <td align="right">2</td>
          <td>12/14/23</td>
          <td align="left">4:00pm</td>
          <td>1</td>
          <td>Invisible Band</td>
        </tr>
      </table>
      <p>&nbsp;</p>
    </div>
    <!-- browse -->

    <div id="insert">
      <form method="POST" id="addConcert">
        <legend><strong>Add Concert</strong></legend>
        <fieldset class="fields">
          <label> date </label> <input type="text" name="date" />
          <label> time </label> <input type="text" name="time" />
          <label> venue id </label>
          <select name="venue_id">
            <option value="0">&nbsp;</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label> artist </label>
          <select name="artist">
            <option value="0">&nbsp;</option>
            <option value="1">Invisible Band</option>
            <option value="2">Beethoven</option>
            <option value="3">Tavern Bard</option>
          </select>
        </fieldset>
        <input class="btn" type="submit" id="addConcert" value="Add Concert" />
        <input
          class="btn"
          type="button"
          value="cancel"
          onclick="browseConcerts()"
        />
      </form>
    </div>
    <!-- insert -->
    <p>&nbsp;</p>

    <div id="update">
      <form method="POST" id="UpdateConcert">
        <legend><strong>Update Concert</strong></legend>
        <fieldset class="fields">
          <input
            type="hidden"
            name="concertID"
            id="updateconcertID"
            value="1"
          />
          <label> ID: </label> 1
          <label> date </label>
          <input type="text" name="date" value="12/20/23" />
          <label> time </label>
          <input type="text" name="time" value="6:00pm" />
          <label> venue id </label>
          <select name="venue_id">
            <option value="0">&nbsp;</option>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label> artist </label>
          <select name="artist">
            <option value="0">&nbsp;</option>
            <option value="1" selected>Invisible Band</option>
            <option value="2">Beethoven</option>
            <option value="3">Tavern Band</option>
          </select>
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="UpdateConcert"
          value="Update Concert"
        />
        <input
          class="btn"
          type="button"
          value="cancel"
          onclick="browseConcerts()"
        />
      </form>
    </div>
    <!-- update -->
    <p>&nbsp;</p>

    <div id="delete" style="display: block">
      <form method="POST" id="deleteConcert">
        <legend><strong>Delete Concert</strong></legend>
        <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input
            type="hidden"
            name="concertID"
            id="deleteconcertID"
            value="1"
          />
          <label><strong>ID:</strong></label> 1
          <label> <strong>Date:</strong> </label> 12/20/23
          <label> <strong>Time:</strong> </label> 6:00pm
          <label> <strong>Venue ID:</strong> </label> 1
          <label> <strong>Artist:</strong> </label> Invisible Band
        </fieldset>
        <input
          class="btn"
          type="submit"
          id="DeleteConcert"
          value="Delete Concert"
        />
        <input
          class="btn"
          type="button"
          value="cancel"
          onClick="browseConcerts()"
        />
      </form>
    </div>
  </body>
</html>
